:root {
  --primary-color: #007bff;
  --secondary-color: #0056b3;
  --color-fonts: #fff;
  --line-height: #857b7e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

#projetos {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

#home-projetos {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

#home-projetos p {
  font-size: 1.9rem;
  text-align: justify;
  margin: 2rem 0 2rem 0;
}

#home-projetos h1 {
  position: relative;
  top: 0%;
  left: 0%;
  text-align: left;
}

.projetos-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.projeto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  min-height: 400px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  background-color: #f7f7f715;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projeto a {
  text-decoration: none;
  color: inherit;
}

.projeto img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  border: 3px solid var(--color-fonts);
}

.projeto h2 {
  margin: 10px 0;
  font-size: 2rem;
  color: #ffcc00;
}

.projeto p {
  padding: 0 10px 10px;
  color: var(--color-fonts);
  font-size: 1.7rem;
}

.projeto:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.github-btn {
  margin-top: auto;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-button {
  width: 100%;
  height: 5rem;
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0 0 1.5rem 0;
  padding: 1.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--color-fonts);
  cursor: pointer;
}

.github-button:hover {
  background-color: var(--primary-color);
  transition: background-color 0.3s ease;
  color: var(--color-fonts);
  transform: scale(1.1);
}
