/* Responsividade para telas menores que 1020px */
@media (max-width: 1020px) {
  #home,
  #habilidades {
    flex-direction: column;
    align-items: center;
  }

  #home-counts,
  #home-counts-habilidades {
    width: 100%;
    padding: 1rem;
  }

  .img-home,
  .img-home-habilidades {
    width: 50%;
  }

  nav ul {
    gap: 5rem;
  }

  nav a {
    font-size: 1.8rem;
  }

  .projeto {
    width: 45%; /* Ajusta o tamanho dos projetos em telas menores */
  }
}

/* Responsividade para telas menores que 770px */
@media (max-width: 770px) {
  #home,
  #habilidades {
    gap: 1.5rem;
  }

  #home-counts a,
  .certificados {
    width: 80%;
    font-size: 1.4rem;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .menu-toggle:hover {
    background-color: #fff;
    border-radius: 10px;
    transition: background-color 0.5s ease;
  }

  nav {
    position: absolute;
    top: 15px;
    right: -250px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 200px;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: start;
    transition: right 1s ease;
  }

  nav ul {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem 0;
  }

  nav.show {
    right: 0;
  }

  nav a {
    font-size: 1.6rem;
  }

  .img-home,
  .img-home-habilidades {
    width: 70%;
    order: -1;
    margin: 0 0 5rem 0;
  }

  header {
    padding: 0.5rem;
  }
  .projeto {
    width: 80%; /* Ajusta ainda mais o tamanho para telas médias */
  }

  .projetos-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  #projetos {
    width: 80%; /* Ajusta a largura do container de projetos */
  }

  #home-projetos h1 {
    text-align: left;
  }

  #home-projetos p {
    font-size: 1.9rem;
  }
}

/* Responsividade para telas menores que 480px */
@media all and (max-width: 480px) {
  .fundo {
    background-image: url("/assets/image_fondo02.webp");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.9);
  }

  #home p,
  #habilidades p {
    font-size: 1.6rem;
  }

  #home-counts a,
  .certificados {
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem;
  }

  .img-home,
  .img-home-habilidades {
    width: 70%;
  }

  nav ul {
    gap: 1.5rem;
  }

  nav a {
    font-size: 1.4rem;
  }

  h1,
  h3 {
    font-size: 2.4rem;
  }

  header {
    height: 6rem;
  }

  footer p {
    font-size: 1.6rem;
  }

  .projeto {
    width: 90%; /* Ajusta para ocupar toda a largura da tela */
    min-height: 300px; /* Diminui a altura mínima para telas pequenas */
  }

  #home-projetos p {
    font-size: 1.6rem; /* Diminui o tamanho do texto */
  }
}
