/* Responsividade para telas menores que 1020px */
@media (max-width: 1020px) {
  #home,
  #habilidades {
    flex-direction: column;
    align-items: center;
  }

  #home-counts,
  #home-counts-habilidades {
    width: 100%;
    padding: 1rem;
  }

  .img-home,
  .img-home-habilidades {
    width: 50%;
  }

  nav ul {
    gap: 5rem;
  }

  nav a {
    font-size: 1.8rem;
  }

  .projeto {
    width: 45%; /* Ajusta o tamanho dos projetos em telas menores */
  }
}

/* Responsividade para telas menores que 770px */
@media (max-width: 770px) {
  #home,
  #habilidades {
    gap: 1.5rem;
  }

  #home-counts a,
  .certificados {
    width: 80%;
    font-size: 1.4rem;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60%;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 200px;
    padding: 10px;
    transition: max-height 0.3s ease;
  }

  nav ul {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 1rem 0;
  }

  nav.show {
    display: flex;
    max-height: 20rem;
  }

  nav a {
    font-size: 1.6rem;
  }

  .img-home,
  .img-home-habilidades {
    width: 70%;
  }

  header {
    padding: 0.5rem;
  }
  .projeto {
    width: 80%; /* Ajusta ainda mais o tamanho para telas médias */
  }

  .projetos-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  #projetos {
    width: 80%; /* Ajusta a largura do container de projetos */
  }

  #home-projetos h1 {
    text-align: left;
  }

  #home-projetos p {
    font-size: 1.9rem;
  }
}

/* Responsividade para telas menores que 480px */
@media (max-width: 480px) {
  #home p,
  #habilidades p {
    font-size: 1.4rem;
  }

  #home-counts a,
  .certificados {
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem;
  }

  .img-home,
  .img-home-habilidades {
    width: 100%;
  }

  nav ul {
    gap: 1.5rem;
  }

  nav a {
    font-size: 1.4rem;
  }

  h1,
  h3 {
    font-size: 2.4rem;
  }

  header {
    height: 8rem;
  }

  footer p {
    font-size: 1.6rem;
  }

  .projeto {
    width: 100%; /* Ajusta para ocupar toda a largura da tela */
    min-height: 300px; /* Diminui a altura mínima para telas pequenas */
  }

  #home-projetos h1 {
    font-size: 1.8rem; /* Diminui o tamanho do título */
  }

  #home-projetos p {
    font-size: 1.4rem; /* Diminui o tamanho do texto */
  }
}
