:root {
  --primary-color: #007bff;
  --secondary-color: #0056b3;
  --color-fonts: #fff;
  --line-height: #857b7e;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.fundo {
  position: relative;
  background-image: url("../assets/image_fondo02.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding-top: 20rem;
  background-color: rgba(0, 0, 0, 0.9); /* Fundo preto com transparência */
}

.fundo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.9);
  z-index: -1; /* Garante que a imagem de fundo fique atrás de tudo */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(
    0,
    0,
    0,
    0.9
  ); /* Cor preta semi-transparente para o cabeçalho */
  height: 10rem;
  z-index: 1000;
}

.menu-toggle {
  display: none;
  font-size: 4rem;
  color: var(--primary-color);
  cursor: pointer;
  margin-right: 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  transition: color 0.2s ease;
  margin: 0 0 1.5rem 0;
}

nav a:hover {
  color: var(--secondary-color);
  background-color: var(--color-fonts);
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: color 0.2s ease;
}

nav a i {
  margin-right: 0.5rem;
}

h1 {
  color: var(--color-fonts);
  font-size: 3.5rem;
  font-weight: 700;
  text-align: justify;
  margin: 0 0 1.5rem 0;
}

.texto-colorido {
  color: var(--primary-color);
}

#nome-autor::after {
  content: "|";
  animation: piscar 0.65s infinite;
}

@keyframes piscar {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h3 {
  color: var(--color-fonts);
  font-size: 2.4rem;
  font-weight: 700;
  text-align: justify;
  margin: 0 0 1.5rem 0;
}

p {
  color: var(--color-fonts);
  font-weight: 400;
  text-align: justify;
  margin: 0 0 1.5rem 0;
  line-height: 3rem;
}

/* Home */

#home,
#habilidades {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

#home-counts,
#home-counts-habilidades {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: justify;
  gap: 2rem;
}

#home-counts h1 {
  position: relative;
  top: 0%;
  left: 0%;
  text-align: center;
}

#home p {
  font-size: 1.9rem;
  text-align: justify;
  margin: 0 0 2rem 0;
}

#home-counts a {
  width: 60%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: justify;
  margin: 0 0 1.5rem 0;
  padding: 1.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
}

#home-counts a:hover,
.certificados:hover {
  background-color: var(--primary-color);
  transition: background-color 0.2s ease;
  color: var(--color-fonts);
}

#home-counts a:hover i,
.certificados:hover i,
.projeto:hover i {
  color: var(--color-fonts);
  transition: color 0.2s ease;
}

#home-counts a i,
.certificados i,
.projeto i {
  margin-right: 0.5rem;
  font-size: 2rem;
  color: var(--primary-color);
  align-items: center;
}

#home-counts a p,
.certificados a {
  color: var(--color-fonts);
  font-size: 1.8rem;
  font-weight: 400;
  text-align: justify;
  margin: 0 auto;
  text-decoration: none;
}

#redes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 1rem 0;
  gap: 2rem;
}

.img-home {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circulo {
  position: absolute;
  top: -3%;
  left: 4%;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: 2px solid var(--primary-color);
  z-index: -1;
}

.img-home img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  z-index: 1;
}

.line-bottom {
  width: 90vw;
  height: 1px;
  background-color: var(--line-height);
  margin: 100px auto 30px auto;
}

/* Home Habilidades */

#habilidades {
  margin-top: 15rem;
}

#home-counts-habilidades h1 {
  position: relative;
  top: 0%;
  left: 0%;
  text-align: center;
}

#habilidades p {
  line-height: 3rem;
  font-size: 1.9rem;
  text-align: justify;
  margin: 0;
}

.certificados {
  width: 60%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: justify;
  margin: 4rem auto 1rem auto;
  padding: 1.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
}

.img-home-habilidades {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circulo-habilidades {
  position: absolute;
  top: 3%;
  right: 2%;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  z-index: -1;
}

.img-home-habilidades img {
  position: relative;
  width: 97%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  z-index: 1;
}

footer {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

footer img {
  width: 15rem;
}

footer p {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  color: #ccc;
}
