:root {
  --primary-color: #ff577f;
  --secondary-color: #a0152c;
  --color-fonts: #fff;
  --line-height: #857b7e;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("./assets/image_fondo02.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding-top: 15rem;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-image: url("./assets/image_fondo02.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.5;
  z-index: -1; /* Garante que a imagem de fundo fique atrás de tudo */
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.9); /* Fundo preto semi-transparente */
  z-index: -1; /* Garante que a camada preta fique atrás do conteúdo */
}

.fundo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Fundo preto com transparência */
  z-index: -1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(
    0,
    0,
    0,
    0.9
  ); /* Cor preta semi-transparente para o cabeçalho */
  height: 10rem;
  z-index: 1000;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0 1.5rem 0;
}

nav a:hover {
  color: var(--secondary-color);
  transition: color 0.2s ease;
}

nav a i {
  margin-right: 0.5rem;
}

h1 {
  color: var(--color-fonts);
  font-size: 3.2rem;
  font-weight: 700;
  text-align: justify;
  margin: 0 0 1.5rem 0;
}

h3 {
  color: var(--color-fonts);
  font-size: 2.4rem;
  font-weight: 700;
  text-align: justify;
  margin: 0 0 1.5rem 0;
}

p {
  color: var(--color-fonts);
  font-size: 1.6rem;
  font-weight: 400;
  text-align: justify;
  margin: 0 0 1.5rem 0;
}

/* Home */

#home,
#habilidades {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12rem;
  margin: 0 auto;
}

#home-counts,
#home-counts-habilidades {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

#home img,
#habilidades img {
  position: relative;
  display: block;
  width: 90%;
  object-fit: cover;
  object-position: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 1rem;
  margin: 2rem auto;
}

.foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.circulo {
  position: absolute;
  right: 160px;
  top: 150px;
  width: 45rem;
  height: 59rem;
  border-radius: 1rem;
  border: 2px solid var(--primary-color);
}

#home-counts h1 {
  position: absolute;
  top: 30%;
  left: 9.8%;
}

#home p,
#habilidades p {
  color: var(--color-fonts);
  font-size: 1.9rem;
  font-weight: 400;
  text-align: justify;
  margin: 0 0 8rem 0;
}

#home-counts a {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: justify;
  margin: 0 0 1.5rem 0;
  padding: 1.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
}

#home-counts a:hover {
  background-color: var(--primary-color);
  transition: background-color 0.2s ease;
}

#home-counts a i {
  margin-right: 0.5rem;
  font-size: 2rem;
  color: var(--primary-color);
  align-items: center;
}

#home-counts a p {
  color: var(--color-fonts);
  font-size: 1.8rem;
  font-weight: 400;
  text-align: justify;
  margin: 0 auto;
}

#redes {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 1.5rem 0;
}

.line-bottom {
  width: 90vw;
  height: 1px;
  background-color: var(--line-height);
  margin: 50px auto;
}

/* Home Habilidades */

#habilidades {
  margin-top: 17rem;
}
